html {
    font-size: 22px;
}

body {
    background-color: #333;
    color: #fff
}

.game-field {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #999;
  padding: 2px;
}

.game-cell-x,
.game-cell-o,
.game-cell{
  background-color: #777;
  border: 1px solid black;
  padding: 20%;
  font-size: 30px;
  text-align: center;
}

.game-cell-x{
  color: #f00;
}

.game-cell-o{
  color: #00f;
}
