@keyframes flash-bang {
    0% {
        background-color: #000;
    }
    25% {
        background-color: #fff;
    }
    50% {
        background-color: #333;
    }
    75% {
        background-color: #222;
    }
    100% {
        background-color: #000;
    }
}

body {
    color: #000;
    background-color: #000;
    animation: flash-bang .3s ease-in-out;
}

@keyframes neo-flicker {
    from {
        color: rgb(0, 0, 0, 0);
    }
    to {color: orangered;}
  }

h1 {
    animation: neo-flicker 5s;
    color: rgb(0, 0, 0, 0);
}
