body {
    background: rgb(204, 229, 255, .4);
}

#title {
    color: rgb(186, 133, 9);
}

.subtitle {
    color: rgb(200, 148, 30);
}

#service-image {
    height: 400px;
    width: 70%;

    background: radial-gradient(circle, red 40%, blue 60%, green 65%, black 100%);
}
